/* Allgemeines Styling */
body {
    font-family: 'Roboto', sans-serif; /* Modernere Schriftart */
    display: flex;
    flex-direction: column; /* Elemente untereinander anordnen */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a080811; /* Hellgrauer Hintergrund für bessere Kontraste */
    margin: 0;
    padding: 20px; /* Etwas Puffer am Rand */
    box-sizing: border-box;
}
 
/* Überschrift-Styling */
h1 {
    font-size: 36px; /* Größere Schriftgröße für die Überschrift */
    color: #97cfe0b4; /* Gleiche Farbe wie der Button und das Ergebnis */
    margin-bottom: 20px; /* Abstand zum Formular */
    text-align: center; /* Zentrierter Text */
    font-weight: bold; /* Fettgedruckte Schrift */
}
 
/* Formular-Container */
.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px; /* Mehr abgerundete Ecken */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Weichere und größere Schatten */
    max-width: 400px; /* Begrenzung der Breite */
    width: 100%;
}
 
/* Formular-Elemente */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
 
label {
    margin-bottom: 8px;
    font-weight: bold; /* Fettgedruckte Labels */
    color: #333;
}
 
input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px; /* Größere Schrift für bessere Lesbarkeit */
    background-color: #f9f9f9; /* Leichtes Grau für die Eingabefelder */
}
 
input:focus, select:focus {
    border-color: #007bff; /* Blaues Highlight bei Fokus */
    outline: none; /* Entfernt den Standard-Fokusrahmen */
    background-color: #ffffff; /* Weißes Hintergrund bei Fokus */
}
 
/* Button-Styling */
button {
    width: 100%;
    padding: 12px;
    background-color: #91d0e4d2; /* Hintergrundfarbe des Buttons */
    color: white; /* Textfarbe des Buttons */
    border: 2px solid black; /* Schwarzer Rahmen um den Button */
    border-radius: 5px; /* Abgerundete Ecken */
    cursor: pointer; /* Cursor beim Überfahren des Buttons */
    font-size: 16px; /* Schriftgröße */
    font-weight: bold; /* Fettgedruckte Schrift */
    transition: background-color 0.3s ease; /* Übergangseffekt für die Hintergrundfarbe */
}

/* Stil für Button-Hover-Effekt */
button:hover {
    background-color: #9dc3e6; /* Ändere die Hintergrundfarbe beim Überfahren */
}
 
button:hover {
    background-color: #0056b3;
}
 
/* Ergebnis-Anzeige */
#ergebnis {
    margin-top: 20px;
    font-size: 18px;
    color: #00aeff;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #bed6e2;
    border-radius: 5px;
    border: 1px solid #b3e5fc;
}